// $background: linear-gradient(90deg, #fafafa 0%, #ffff);
// $background: linear-gradient(45deg, #f5e3e6, #fff);
$background: linear-gradient(45deg, #d9e4f5, #fff);
$background: linear-gradient(135deg, #f5e3e6, #d9e4f5);
$color: #060606;