.circle-animation-top-bottom {
  -webkit-animation: circle-animation-top-bottom 10s ease-in-out infinite;
          animation: circle-animation-top-bottom 10s ease-in-out infinite;
}

.circle-animation-bottom-top {
  -webkit-animation: circle-animation-bottom-top 10s ease-in-out infinite;
          animation: circle-animation-bottom-top 10s ease-in-out infinite;
}

@-webkit-keyframes circle-animation-top-bottom {
  0% {
    top: 0px;
    left: 0px;
    filter: blur(120px);
  }
  50% {
    top: 400px;
    left: 200px;
    filter: blur(220px);
  }
  100% {
    top: 0px;
    left: 0px;
    filter: blur(120px);
  }
}

@keyframes circle-animation-top-bottom {
  0% {
    top: 0px;
    left: 0px;
    filter: blur(120px);
  }
  50% {
    top: 400px;
    left: 200px;
    filter: blur(220px);
  }
  100% {
    top: 0px;
    left: 0px;
    filter: blur(120px);
  }
}
@-webkit-keyframes circle-animation-bottom-top {
  0% {
    bottom: 0px;
    right: 0px;
    filter: blur(120px);
  }
  50% {
    bottom: 200px;
    right: 600px;
    filter: blur(220px);
  }
  100% {
    bottom: 0px;
    right: 0px;
    filter: blur(120px);
  }
}
@keyframes circle-animation-bottom-top {
  0% {
    bottom: 0px;
    right: 0px;
    filter: blur(120px);
  }
  50% {
    bottom: 200px;
    right: 600px;
    filter: blur(220px);
  }
  100% {
    bottom: 0px;
    right: 0px;
    filter: blur(120px);
  }
}
.flx {
  display: flex;
}

.flx-wrap {
  flex-wrap: wrap;
}

.flx-c {
  justify-content: center;
}

.flx-bt {
  justify-content: space-between;
}

.flx-ar {
  justify-content: space-around;
}

.flx-even {
  justify-content: space-evenly;
}

.flx-start {
  align-items: start;
}

.flx-end {
  align-items: end;
}

.flx-align-c {
  align-items: center;
}

.flx-align-stretch {
  align-items: stretch;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.circle-animation-bottom-top {
  -webkit-animation: circle-animation-bottom-top 1s ease-in-out;
          animation: circle-animation-bottom-top 1s ease-in-out;
}

@keyframes circle-animation-bottom-top {
  0% {
    bottom: -100px;
    right: -100px;
  }
  50% {
    top: -200px;
    left: 400px;
  }
  100% {
    bottom: -100px;
    right: -100px;
  }
}
.circle-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
}
.circle-container img {
  position: absolute;
  top: 0;
  left: -200px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.circle-container .circle-1 {
  width: 600px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  filter: blur(120px);
  background: linear-gradient(135deg, #6397fd 15%, #1863F4);
  top: -100px;
  right: -100px;
  left: -200px;
}
.circle-container .circle-2 {
  width: 400px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  filter: blur(120px);
  background: linear-gradient(135deg, #F4A992 15%, #E25427);
  bottom: -100px;
  right: -100px;
}
.circle-container .circle-3 {
  width: 400px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  filter: blur(120px);
  background: linear-gradient(135deg, #6397fd 15%, #1863F4);
  top: -100px;
  left: -200px;
}

.circle-2 {
  width: 400px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  filter: blur(120px);
  background: linear-gradient(135deg, #F4A992 15%, #E25427);
  bottom: -100px;
  right: -100px;
}

.circle-3 {
  width: 400px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  filter: blur(120px);
  background: linear-gradient(135deg, #6397fd 15%, #1863F4);
  top: -100px;
  left: -200px;
}

.offcanvas {
  overflow: hidden;
}
.offcanvas .offcanvas-body .menu-sidebar {
  list-style: none;
  padding: 0;
}
.offcanvas .offcanvas-body .menu-sidebar li {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 0.5rem;
}
.offcanvas .offcanvas-body .menu-sidebar li a .line-divide {
  width: 0;
  height: 6px;
  background: #0707a4;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  transition: all 0.25s ease-out;
}
.offcanvas .offcanvas-body .menu-sidebar li a.nav-link.active .line-divide, .offcanvas .offcanvas-body .menu-sidebar li a.nav-link:hover .line-divide {
  width: 40%;
  left: 20px;
}
.offcanvas .offcanvas-body .menu-sidebar .dropdown-menu, .offcanvas .offcanvas-body .menu-sidebar .collapse .cs-menu {
  list-style: none;
  padding: 0;
}
.offcanvas .offcanvas-body .menu-sidebar .dropdown-menu li, .offcanvas .offcanvas-body .menu-sidebar .collapse .cs-menu li {
  padding: 0.5rem;
  margin-bottom: 0;
  line-height: 1;
}
.offcanvas .offcanvas-body .menu-sidebar .dropdown-menu a, .offcanvas .offcanvas-body .menu-sidebar .collapse .cs-menu a {
  font-size: 16px;
  color: #060606;
  text-decoration: none;
}
.offcanvas .offcanvas-body .menu-sidebar .collapse .card-body {
  background: transparent;
  padding: 0;
  border: 0;
}
.offcanvas .offcanvas-body .menu-sidebar li:focus {
  background: rgba(0, 0, 0, 0.15);
}
.offcanvas .circle-container img {
  left: -120px;
  top: 40%;
  width: 800px;
}
.offcanvas .offcanvas-footer .sidebar-links {
  width: 65%;
}
.offcanvas .offcanvas-footer .sidebar-links a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #060606;
  transition: all 0.5s linear;
}
.offcanvas .offcanvas-footer .sidebar-links a:hover {
  background: #0707a4;
  color: whitesmoke;
}

.footer {
  background: linear-gradient(135deg, #f5e3e6, #d9e4f5);
  color: #060606;
}
.footer .footer-inner {
  padding: 3rem 3rem 1rem;
}
.footer .footer-inner .footer-container {
  position: relative;
}
.footer .footer-inner .circle-container {
  z-index: 0;
  height: 100%;
  position: relative;
}
.footer .footer-inner .circle-container img {
  width: auto;
  top: 0;
  z-index: 1;
}
.footer .footer-inner .circle-container .circle-2, .footer .footer-inner .circle-container .circle-3 {
  z-index: 0;
}
.footer .footer-bottom {
  padding: 1rem 3rem;
  background: linear-gradient(135deg, #060606 0%, #1f1f1f);
  color: #f6f6f6;
}
.footer .footer-block.menu-footer .f-block-links {
  color: #060606;
}
.footer .footer-block.menu-footer .f-block-links a {
  color: inherit;
  text-decoration: none;
}

.modal {
  font-size: 16px;
}
.modal h3 {
  font-size: 1.75rem;
}
.modal h5 {
  font-size: 1.2rem;
}
.modal p {
  font-size: 1rem;
}
.modal .modal-content {
  border-radius: 50px 0;
  overflow: hidden;
  position: relative;
}
.modal .modal-content .circle-container {
  height: 100%;
  z-index: 0;
}
.modal .modal-content .circle-container img {
  width: auto;
  display: none;
}
.modal .modal-header {
  border: 0;
  z-index: 5;
  position: relative;
}
.modal .modal-header .close {
  border: 0;
  font-size: 1.75rem;
  background: transparent;
  padding: 0 1rem;
}
.modal .modal-body {
  text-align: center;
  z-index: 5;
}
.modal .modal-body .card {
  border: 0;
}
.modal .modal-body .card-body {
  background: transparent;
}

.text-decoration-none {
  text-decoration: none;
}

.sticky-position {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}/*# sourceMappingURL=layout.css.map */