@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap");
body {
  background: linear-gradient(135deg, #f5e3e6, #d9e4f5);
  color: #060606;
  margin: 0;
}

body, p {
  font-family: "Abyssinica SIL", serif;
  font-weight: 400;
  font-size: 16px;
}

p.excerpt {
  font-family: FK Roman Text, Times New Roman, sans-serif;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abyssinica SIL", serif;
  font-weight: 600;
  margin: 0.5rem 0 1rem;
}

p {
  margin: 1rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

section {
  min-height: 90vh;
  padding: 2rem;
}

section.hero {
  padding: 1rem 2rem;
}

.nav-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 999;
}
.nav-header .navbar {
  padding: 0.8rem 3rem 0;
}
.nav-header .navbar .menu-center, .nav-header .navbar .menu-right {
  display: none;
}
.nav-header .hamburger-menu a {
  min-width: 0;
}
.nav-header .hamburger-menu .dropdown-toggle::after {
  display: none;
}
.nav-header .hamburger-menu .collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.nav-header .hamburger-menu .collapse .card {
  border: 0;
  border-radius: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.nav-header .hamburger-menu .collapse ul {
  list-style-type: none;
  padding: 0;
}
.nav-header .hamburger-menu .collapse ul li {
  padding: 0.8rem 0.5rem;
}
.nav-header .hamburger-menu .collapse ul li:focus {
  background-color: rgb(245, 245, 245);
}

.footer ul {
  list-style: none;
  padding: 0;
}

nav.navbar ul.menu {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
nav.navbar li {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.25s ease-out;
  position: relative;
}
nav.navbar li::after {
  content: "";
  width: 0;
  height: 3px;
  background: #0606a4;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 50%;
}
nav.navbar .line-divide {
  width: 0;
  height: 2px;
  background: #0606a4;
  position: absolute;
  bottom: 0;
  left: 10px;
  border: 50%;
  transition: all 0.25s ease-out;
}
nav.navbar li:hover .line-divide {
  width: 60%;
}
nav.navbar li a {
  padding: 0.8rem 1rem;
}
nav.navbar .nav-link.active {
  font-weight: 600;
  color: #0606a4;
  background: rgba(255, 255, 255, 0.45);
  position: relative;
  border-radius: 30px 0;
}
nav.navbar .nav-link.active .line-divide {
  display: none;
}
nav.navbar li:hover {
  font-weight: 500;
  color: #0606a4;
}

.navbar .img-logo img {
  width: 42px;
  height: 42px;
  -o-object-fit: contain;
     object-fit: contain;
}

a.btn, a button, a .btn {
  width: auto;
  min-width: 160px;
  margin: 0 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.8rem 1rem;
  border: 1px solid rgba(6, 6, 6, 0.05);
  border-radius: 30px 0;
  text-decoration: none;
}

.btn {
  width: auto;
  min-width: 160px;
  margin: 0 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.8rem 1rem;
  border: 1px solid rgba(6, 6, 6, 0.05);
  border-radius: 30px 0;
}
.btn a {
  text-decoration: none;
}
.btn i, .btn span {
  margin: 0 0.5rem;
  font-style: normal;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background: #0606a4;
  color: #fff;
  border-color: transparent;
}

.btn-secondary {
  background: transparent;
  border-color: transparent;
  color: #0606a4;
}

.btn-tertiary {
  background: transparent;
  border-color: #0606a4;
  color: #0606a4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-img {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}
.hero-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

.timeline-box-container {
  width: 550px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 50%;
  position: relative;
}
.timeline-box-container .path-timeline {
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background: #0606a4;
}
.timeline-box-container .path-timeline::before, .timeline-box-container .path-timeline::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 4px solid;
  border-color: #0606a4;
  position: absolute;
  left: 50%;
  margin-left: -7.5px;
}
.timeline-box-container .path-timeline::before {
  top: -14px;
}
.timeline-box-container .path-timeline::after {
  bottom: -14px;
}
.timeline-box-container .timeline-box {
  max-width: 250px;
  width: 100%;
  padding: 1rem;
  margin: 0 0.5rem;
}
.timeline-box-container .timeline-box h4 {
  color: #0606a4;
}
.timeline-box-container .timeline-box h6 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.timeline-box-container .timeline-box .img-title {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.timeline-box-container .timeline-box .img-title img {
  width: 72px;
}
.timeline-box-container .timeline-box.empty {
  max-width: 250px;
  width: 100%;
  padding: 1rem;
  margin: 0 0.5rem;
}

.road-map-header {
  margin: 1rem 0 4rem;
  text-align: center;
}

.about-me-hero {
  font-family: "Abyssinica SIL", serif;
  min-height: 90vh;
}
.about-me-hero .about-me-content h1, .about-me-hero .about-me-content h2, .about-me-hero .about-me-content h5, .about-me-hero .about-me-content h6, .about-me-hero .about-me-content p {
  font-family: inherit;
}
.about-me-hero .about-me-content .quote::before {
  content: "“";
  width: 65px;
  height: 65px;
  line-height: 65px;
  font-size: 65px;
  font-size: 45px;
}
.about-me-hero .about-me-img {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 50px 0;
  overflow: hidden;
  box-shadow: 8px 12px 24px rgba(0, 0, 0, 0.25);
}
.about-me-hero .about-me-img img {
  width: 100%;
}

.img-bx-shadow {
  border-radius: 50px 0;
  overflow: hidden;
  box-shadow: 8px 12px 24px rgba(0, 0, 0, 0.25);
}
.img-bx-shadow img {
  border-radius: 0;
}

#back-to-top {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f5e3e6, #d9e4f5);
  color: #060606;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 35px;
  right: 40px;
  z-index: 999;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.5s ease-out;
}
#back-to-top i, #back-to-top span {
  font-size: 1rem;
}

#back-to-top:hover, #back-to-top:focus {
  background: rgba(0, 0, 0, 0.4);
  color: #f6f6f6;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}/*# sourceMappingURL=style.css.map */