@use 'light-theme';
@use 'dark-theme';
@use 'typography';
@use 'font-sizes';

$primary-color: #060606;
$primary-rgb-color: rgb(6, 6, 6);
$secondary-color: #0606a4;
$margin-size: 16px;
$btn-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

body{
    background: light-theme.$background;
    color: light-theme.$color;
    margin: 0;
}
body, p {
    font-family: typography.$font-body;
    font-weight: typography.$regular-fweight;
    font-size: font-sizes.$regular-size;
}
p.excerpt {
    font-family: typography.$font-p;
    font-size: font-sizes.$h5-size;
}
h1,h2,h3,h4,h5,h6 {
    font-family: typography.$font-body;
    font-weight: typography.$title-fweight;
    margin: .5rem 0 1rem;
}
p {
    margin: 1rem 0;
}
h1 {
    font-size: font-sizes.$h1-size;
}
h2 {
    font-size: font-sizes.$h2-size;
}
h3 {
    font-size: font-sizes.$h3-size;
}
h4 {
    font-size: font-sizes.$h4-size;
}
h5 {
    font-size: font-sizes.$h5-size;
}
h6 {
    font-size: font-sizes.$h6-size;
}
section {
    min-height: 90vh;
    padding: 2rem;
}
section.hero {
    padding: 1rem 2rem;
}
.nav-header {
    position: sticky;
    top: 0;
    background: rgb(255,255,255,.45);
    backdrop-filter: blur(4px);
    z-index: 999;
    .navbar {
        padding: .8rem 3rem 0;
        .menu-center, .menu-right {
            display: none;
        }
    }
    .hamburger-menu {
        a {
            min-width: 0;
        }
        .dropdown-toggle::after {
            display: none;
        }
        .collapse {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            .card {
                border: 0;
                border-radius: 0;
                // background: rgb(0,0,0,.5);
                backdrop-filter: blur(4px);
            }
            ul {
                list-style-type: none;
                padding: 0;
                li { 
                    padding: .8rem .5rem;
                }
                li:focus {
                    background-color: rgb(245,245,245);
                }
            }
        }
    }
}
.footer {
    ul {
        list-style: none;
        padding: 0;
    }
}
nav.navbar {
    ul.menu {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    li {
        font-size: font-sizes.$regular-size;
        font-weight: 400;
        text-decoration: none;
        transition: all .25s ease-out;
        position: relative;
    }
    li::after{
        content: '';
        width: 0;
        height: 3px;
        background: $secondary-color;
        position: absolute;
        bottom: 0;
        left: 0;
        border: 50%;
    }
    .line-divide {
        width: 0;
        height: 2px;
        background: $secondary-color;
        position: absolute;
        bottom: 0;
        left: 10px;
        border: 50%; 
        transition: all .25s ease-out;
    }
    li:hover .line-divide {
        width: 60%;
    }
    li a {
        padding: .8rem 1rem;
    }
    .nav-link.active {
        font-weight: 600;
        color: $secondary-color;
        background: rgb(255,255,255,.45);
        position: relative;
        border-radius: 30px 0;
        .line-divide {
            display: none;
        }
    }
    // .nav-link.active::before {
    //     content: "";
    //     width: 12px;
    //     height: 12px;
    //     border-radius: 0 0 30px 0;
    //     position: absolute;
    //     bottom: 0;
    //     left: -12px;
    //     background: light-theme.$background;
    // }
    // .nav-link.active .line-divide {
    //     width: 60%;
    // }
    li:hover {
        font-weight: 500;
        color: $secondary-color;
    }
}
.navbar .img-logo {
    img {
        width: 42px;
        height: 42px;
        object-fit: contain;
    }
}
@mixin btn-basics {
    width: auto;
    min-width: 160px;
    margin: 0 4px;
    box-shadow: $btn-box-shadow;
    padding: .8rem 1rem;
    border: 1px solid rgb(6,6,6, .05);
    border-radius: 30px 0;
}
a.btn, a button, a .btn {
    @include btn-basics;
    text-decoration: none;
}
.btn {
    @include btn-basics;
    a {
        text-decoration: none;
    }
    i, span {
        margin: 0 .5rem;
        font-style: normal;
    }
}
.btn:hover {
    cursor: pointer;
}
.btn-primary {
    background: $secondary-color;
    color: #fff;
    border-color: transparent;
}
.btn-secondary {
    background: transparent;
    border-color: transparent;
    color: $secondary-color;
}
.btn-tertiary {
    background: transparent;
    border-color: $secondary-color;
    color: $secondary-color;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.hero-img {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    // min-width: 350px;
    img {
        object-fit: cover;
        width: 100%;
        border-radius: 50%;
        max-height: 65vh;
    }
}
.timeline-box-container {
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 50%;
    position: relative;
    .path-timeline {
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        background: $secondary-color;
    }
    .path-timeline::before, .path-timeline::after {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 4px solid;
        border-color: $secondary-color;
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
    }
    .path-timeline::before {
        top: -14px;
    }
    .path-timeline::after {
        bottom: -14px;
    }
    .timeline-box {
        max-width: 250px;
        width: 100%;
        padding: 1rem;
        margin: 0 .5rem;
        h4 {
            color: $secondary-color;
        }
        h6 {
            font-weight: typography.$regular-fweight;
            margin-bottom: .5rem;
        }
        .img-title {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;
            img {
                width: 72px;
            }
        }
    }
    .timeline-box.empty {
        max-width: 250px;
        width: 100%;
        padding: 1rem;
        margin: 0 .5rem;
    }
}
.road-map-header {
    margin: 1rem 0 4rem;
    text-align: center;
}
.about-me-hero {
    font-family: 'Abyssinica SIL', serif;
    min-height: 90vh;
    .about-me-content {
        h1, h2, h5, h6, p {
            font-family: inherit;
        }
        .quote::before {
            content: '\201C';
            width: 65px;
            height: 65px;
            line-height: 65px;
            font-size: 65px;
            font-size: 45px;
        }
    }
    .about-me-img {
        max-width: 350px;
        margin: 0 auto;
        border-radius: 50px 0;
        overflow: hidden;
        box-shadow: 8px 12px 24px rgb(0 0 0 / 25%);
        img {
            width: 100%;
        }
    }
}
.img-bx-shadow {
    border-radius: 50px 0;
    overflow: hidden;
    box-shadow: 8px 12px 24px rgb(0 0 0 / 25%);
    img {
        border-radius: 0;
    }
}
#back-to-top {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: light-theme.$background;
    color: light-theme.$color;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 25%);
    position: fixed;
    bottom: 35px;
    right: 40px;
    z-index: 999;
    text-decoration: none;
    border-radius: 50%;
    transition: all .5s ease-out;
    i, span {
        font-size: 1rem;
    }
}
#back-to-top:hover, #back-to-top:focus {
    background: rgb(0,0,0,.4);
    color: dark-theme.$color;
    backdrop-filter: blur(4px);
}